<h1 class="lvl-class">Nivelul 5</h1>
<h2 class="lvl-class">Cine este Tatal Lizei?</h2>
<div class="button-group">
  <button (click)="onAnswer(0)">
    <img src="./assets/img/matusa.png">
  </button>
  <button (click)="onAnswer(0)">
    <img src="./assets/img/unghiu.png">
  </button>
  <button (click)="onAnswer(1)">
    <img src="./assets/img/tata.png">
  </button>
  <button (click)="onAnswer(0)">
    <img src="./assets/img/buni.png">
  </button>
  <button (click)="onAnswer(0)">
    <img src="./assets/img/bicu.png">
  </button>
</div>
<h3 *ngIf="number==1"> Felicitari</h3>
<h5 *ngIf="number==0">X</h5>
