.button-group {
  width: 100%;
  max-width: 900px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 2rem;
  
}
img{
  /* width: 250px; */
  height: 300px;
  border-radius: 1rem;
}