/* You can add global styles to this file, and also import other style files */
html{
  background: burlywood;
}
.lvl-class{
  color: black;
  text-align: center;
}

button{
  border-radius: 1rem;
}
h1{
  font: italic bold 50px Georgia, Serif;
  text-shadow: -4px 3px 0 white;
  
}
h3{
  margin-left: 600px;
  font: italic bold 30px Georgia, Serif;
  text-shadow: -4px 3px 0 green;
}
h5{
  margin-left: 620px;
  font-size: 50px;
  color: red;
}